<div class="product-card">
    <!-- Product Image -->
    <img [src]="product.images[0]" alt="Product Image" class="product-image" />

    <!-- Product Details -->
    <div class="product-details">
        <h6 class="product-title">{{ product.name }}</h6>
        <p class="product-description">{{ product.shortDescription }}</p>

        <!-- Price Section -->
        <div class="price-section">
            <span class="original-price">₹{{ product.price }}</span>
            <span class="discount-text">{{ product.discount }}% OFF</span>
            <span class="discounted-price">₹{{ SellingPrice }}</span>
        </div>

        <!-- Buttons Section -->
        <div class="buttons-container">
            <!-- Wishlist Button (heart icon) -->
            <button mat-fab class="icon-button favorite-btn" (click)="onWishlistClick($event, product)"
                aria-label="Add to Wishlist">
                <mat-icon>{{ isInWishlist(product) ? 'favorite' : 'favorite_border' }}</mat-icon>
            </button>



            <!-- Shopping Cart Button -->
            <button mat-fab class="icon-button cart-btn" (click)="addToCart($event, product)" aria-label="Add to Cart">
                @if (isProductInCart(product._id!)) {
                <mat-icon>remove_shopping_cart</mat-icon>
                } @else {
                <mat-icon>add_shopping_cart</mat-icon>
                }
            </button>


        </div>

    </div>
</div>