
<div class="dashboard-container">
    <h2 class="dashboard-title">Admin Dashboard</h2>
    
    <div class="dashboard-grid">
      <!-- Manage Categories -->
      <div class="dashboard-card">
        <h3>Manage Categories</h3>
        <p>Add, Edit, or Delete Categories</p>
        <button mat-raised-button color="primary" routerLink="/admin/categories">
          Go to Categories
        </button>
      </div>
  
      <!-- Manage Products -->
      <div class="dashboard-card">
        <h3>Manage Products</h3>
        <p>Add, Edit, or Delete Products</p>
        <button mat-raised-button color="accent" routerLink="/admin/products">
          Go to Products
        </button>
      </div>
  
      <!-- Manage Brands -->
      <div class="dashboard-card">
        <h3>Manage Brands</h3>
        <p>Add, Edit, or Delete Brands</p>
        <button mat-raised-button color="warn" routerLink="/admin/brands">
          Go to Brands
        </button>
      </div>


        <!-- Manage Orders -->
        <div class="dashboard-card">
          <h3>Manage Orders</h3>
          <p>Add, Edit, or Delete Orders</p>
          <button mat-raised-button color="warn" routerLink="/admin/orders">
            Go to Orders
          </button>
        </div>
    </div>
  </div>
  